.container{
  background-color: lightblue;
  color: #000080;
  font-family: 'Roboto', cursive;
}
.hi{
  font-family: 'Roboto';
}
.col-md-3{
  margin-top: 20px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
