<!DOCTYPE html>
<html ng-app="JoshifyApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <script src="/js/controllers/notices_controller.js" charset="utf-8"></script>
    <title>JOSHIFY</title>
  </head>
  <body class="container">

    <h1>Notify me</h1>


  <section ng-controller = "NoticeController">
    <div class="hi">
      <form ng-submit="newNotice()">
        <input type="text" placeholder="username" ng-model="newNotice.username">
        <input type="text" placeholder="Favorite Soup" ng-model="newNotice.notice_type">
        <select placeholder="how was it?"ng-model="newNotice.quality">
          <option value="1"  >It was terrible.</option>
          <option value="2">Mediocre.</option>
          <option value="3">Average.</option>
          <option value="4">Good.</option>
          <option value="5">Fantastic!</option>
        </select>
        <input type="textarea" placeholder="Tell Us More" ng-model="newNotice.review">
        <input type="text" placeholder="url for image" ng-model="newNotice.img_url">
        <input type="submit">
      </form>
    </div>
    <div class="rown">
      <div ng-repeat = "notice in notices" class="col-mdi-3">
          <img ng-src="{{ notice.img_url }}" alt="No Image Here!" />
          <h2>{{ notice.username }}</h2>
          <h4>{{ notice.notice_type }}</h4>
          <p> {{ notice.quality}} stars!</p>
          <p> {{ notice.review }} </p>
          <h4> {{ notice.rating }} </h4>

          <button type="button" ng-click="removeNotice(notice._id)">Remove Review</button>
      </div>
      </div>

    </section>
  </body>
</html>
